<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: #e6e6e6;">

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #e6e6e6; filter: alpha(opacity=40); opacity: 0.95;border:1px #c3c8cc solid;">
    <tbody>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: white;">
                    <tr>
                    <td style="background-color: #005fb3; color: #fedd86; text-align: center;">
                        <h2>Welcome to Optal Garden</h2>
                    </td>
                    </tr>
                    <tr>
                    <td style="  color: #2a4c92; background-color: #ffffff; text-align: center;font-size: 16px;font-weight: bold;">
                        <p>You have successfully added bouquets</p>
                    </td>
                    </tr>                    
                </table>
            </td>   
        </tr>
</tbody>
</table>
</body>

</html>

